.header {
    border: 2px solid rgb(95 97 110); 
    background-color: lightgray;
    border-radius: 10px; 
    padding: 0.5em; 
    height: 10vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    font: 1.2em sans-serif; 
}

.container {
    border: 2px solid rgb(75 70 74);
    border-radius: 0.5em; 
    font: 1.2em sans-serif; 

    height: 200px; 
    display: flex;
    align-items: center; 
    justify-content: center; 

}

.rounded-button {
    &:hover {
        background-color: rgb(75 70 74);
        color: white;
    }
    border: 2px solid rgb(75 70 74);
    border-radius: 0.5em; 
    font: 1.2em sans-serif; 
    padding: 0.5em;
}

.page-background {
    background: rgb(136, 133, 133);
}

.padding-standard {
    padding: 1em;
    gap: 10px;
}

.center {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.clock-container {
    border: 2px solid rgb(95 97 110); 
    background-color: lightgray;
    border-radius: 50px;
    padding: 0.5em; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    font: 1.2em sans-serif; 
    font-size: 2em;
}